---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  PYTHON: {
    name: "Python",
    class: "bg-blue-500 text-white",
  },
  DYNACONF: {
    name: "Dynaconf",
    class: "bg-gray-700 text-white",
  },
  GITHUB_ACTIONS: {
    name: "GitHub Actions",
    class: "bg-gray-800 text-white",
  },
  PYDANTIC: {
    name: "Pydantic",
    class: "bg-green-500 text-white",
  },
  MKDOCS: {
    name: "MkDocs",
    class: "bg-yellow-500 text-black",
  },
  PUBLIC_SPEAKING: {
    name: "Public Speaking",
    class: "bg-red-500 text-white",
  },
  AI: {
    name: "AI",
    class: "bg-purple-600 text-white",
  },
  PHP: {
    name: "PHP",
    class: "bg-blue-800 text-white",
  },
  DATABASES: {
    name: "Databases",
    class: "bg-orange-500 text-white",
  },
}

const PROJECTS = [
  {
    title: "Vericlient",
    description:
      "Python interface to consume Veridas APIs. Includes advanced configuration management and automated workflows.",
    github: "https://github.com/clarriu97/vericlient",
    image: "/projects/vericlient.webp",
    tags: [TAGS.PYTHON, TAGS.DYNACONF, TAGS.GITHUB_ACTIONS, TAGS.PYDANTIC, TAGS.MKDOCS],
  },
  {
    title: "TERTULia",
    description:
      "Panelist in a podcast discussing AI and software development. Engaging in deep conversations about the latest trends in technology.",
    link: "https://ironbar.github.io/tertulia_inteligencia_artificial/",
    image: "/projects/tertulia.webp",
    tags: [TAGS.PUBLIC_SPEAKING, TAGS.AI],
  },
  {
    title: "Bachelor's Thesis - Medical Open World",
    description:
      "Developed a full-stack Android app for an NGO to monitor incubators. The app allows medical staff to track the health of babies and manage the incubators remotely.",
    link: "https://medicalopenworld.org/",
    image: "/projects/medical_open_world.webp",
    tags: [TAGS.PHP, TAGS.DATABASES],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              GitHub
            </LinkButton>
          )}
          {link && !github && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>
